{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block title %}後台資料分析{% endblock title%}
{% block content %}

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <!-- Dashboard -->
  <div id="dashboard">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">到院後狀態</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">病患男女比例分析</button>        
      </div>      
    </nav>
  </div>
  <br/>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <center>
        <div id="mainb" class="container-fluid" style="width: 600px;height:500px"></div>
      </center>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <center>
        <div id="mainc" class="container-fluid" style="width: 1200px;height:500px"></div>
      </center>
    </div>
  </div>
</div>

<script>
  // 以圓餅圖分析
  var chartDomb = document.getElementById('mainb');
  var myChartb = echarts.init(chartDomb);
  var data = {{datab|tojson}};
  var optionb = {
    title: {
      text: '病患狀態分析',
      left: 'center',
      top: 'center'
    },
    tooltip: {},
    legend: {
      orient: 'vertical',
      x: 'left',
      data: ['出院', '住院', '死亡']
    },
    series: [
      {
        type: 'pie',
        data: data,          
        radius: ['40%', '70%']
      }
    ]
  };

  // 以圓餅圖分析
  var chartDomc = document.getElementById('mainc');
  var myChartc = echarts.init(chartDomc);
  var data = {{datac|tojson}};
  var optionc = {
    title: {
      text: '病患男女比例分析',
      left: 'center',
      top: 'center'
    },
    tooltip: {},
    legend: {
      orient: 'vertical',
      x: 'left',
      data: ['男', '女']
    },
    series: [
      {
        type: 'pie',
        data: data,          
        radius: ['40%', '70%']
      }
    ]
  };

  setTimeout(function() {
    run();
  }, 0);
        
  setInterval(function() {
    update();
  }, 3000);

  optionb && myChartb.setOption(optionb);
  optionc && myChartc.setOption(optionc);
      
</script>

{% endblock content %}